nav{
    position: fixed;
    width: 40rem;
    height: 100%;
    z-index: 2;
    color: white;
    background-color: #a86d07;
    /*background: linear-gradient(to right,#a86d07, #f79f07);*/
    background-color: rgba(0, 0, 0, 0.8);
    /*background: linear-gradient(to right, #3f3f22, #8d8c4a);*/
    display: flex;
    flex-direction: column;
    transition: transform 1s;
    transform: translateX(-105%);
    box-shadow: 7px 0px 19px -2px rgba(0,0,0,1);
}

nav p{
    font-size: 5rem;
    width: max-content;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0px;
}

nav p + a{
    margin-top: 6rem;
}

nav a{
    text-decoration: none;
    width: max-content;
    font-size: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1rem 0 1rem 1rem;
    color:white;
}

nav a img{
    width: 4rem;
    height: 4rem;
    margin-right: 3rem;
}